.homepage section[role=main] {
    margin-left: 120px;
}

.homepage .waitlistEntry {
    width: 280px;
    padding: 10px;
    background-color: #333;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
    .homepage .waitlistEntry {
        width: 250px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}
